<div class="container-fluid" style="margin-top: 15px">
  <div class="container">

    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
      New transaction
    </button>
    <div class="dropdown-menu">
      <h6 class="dropdown-header">Choose type</h6>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'inpatient'}">Inpatient</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'outpatient'}">Outpatient</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'merch'}">Merchandise</a>
    </div>
  </div>
</div>
