<div class="container">
  <form class="mb-3" [formGroup]="userForm">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><input formControlName="active" type="checkbox">&nbsp;Active</span>
        <span class="input-group-text"><input formControlName="admin" type="checkbox">&nbsp;Admin</span>
        <span class="input-group-text"><input formControlName="projects" type="checkbox">&nbsp;Projects</span>
        <span class="input-group-text"><input formControlName="operations" type="checkbox">&nbsp;Operations</span>
        <span class="input-group-text"><input formControlName="head_mechanic" type="checkbox">&nbsp;Head Mechanic</span>
      </div>
      <input formControlName="username" type="text" class="form-control" placeholder="Username">
      <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
      <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
      <div class="input-group-append">
        <button [disabled]="userForm.invalid" (click)="submitUserForm()" class="btn btn-primary"><span
            *ngIf="!editMode">Add</span><span *ngIf="editMode">Update</span></button>
        <button *ngIf="editMode" (click)="setEditMode(0, false)" class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
  <ul class="list-group">
    <li *ngFor="let user of users; let i = index" class="list-group-item">
      <span *ngIf="user.active">{{user.username}} ({{user.firstname}} {{user.lastname}})</span>
      <s *ngIf="!user.active">{{user.username}} ({{user.firstname}} {{user.lastname}})</s>
      <i *ngIf="user.roles.includes('admin')" class="fa fa-lock"></i>
      <i *ngIf="user.roles.includes('operations')" class="fa fa-dolly"></i>
      <i *ngIf="user.roles.includes('projects')" class="fas fa-tools"></i>
      <i *ngIf="user.roles.includes('head_mechanic')" class="fas fa-check-double"></i>
      <button class="btn btn-outline-secondary float-right" (click)="setEditMode(i, true)">Editjdk</button>
    </li>
  </ul>
</div>