<div class="container user-list">
  <form class="mb-3" [formGroup]="userForm">
    <div class="row">
      <div class="col-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              Admin&nbsp;<input formControlName="admin" type="checkbox" style="margin-right:5px">
              Projects&nbsp;<input formControlName="projects" type="checkbox">
              Operations<input formControlName="operations" type="checkbox">
            </div>
          </div>
          <input formControlName="username" type="text" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="col-2">
        <div class="input-group">
          <button [disabled]="userForm.invalid" (click)="postUser()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </form>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">{{user.username}} ({{user.firstname}} {{user.lastname}})
      <i *ngIf="user.roles.includes('admin')" class="fa fa-lock"></i>
      <i *ngIf="user.roles.includes('operations')" class="fa fa-dolly"></i>
      <i *ngIf="user.roles.includes('projects')" class="fas fa-tools"></i>
      <!-- Disabling deleting user, since they are used for tracking
      <button (click)="deleteUser(user)" type="button" class="close">
        <span>&times;</span>
      </button>
      -->
    </li>
  </ul>
</div>


