<!-- Hidden buttons, useful to trigger modal from typescript -->
<button #priceCheckTrigger hidden type="button"
        class="btn btn-outline-primary" data-toggle="modal" data-dismiss="modal"
        data-target="#priceCheckModal">FAKE BUTTON</button>

<app-add-item #addItemComponent (chosenItem)="showPriceCheck($event)"
[employee]="false"></app-add-item>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/transactions">
      <img src="/assets/img/rice-bikes_white.png" width="80" height="80" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Search bar -->
      <!--<app-search-transaction *ngIf="loggedIn | async"></app-search-transaction>-->
      <div class="navbar-nav ml-auto mr-2">
        <li *ngIf="isAdmin | async" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/admin/users']">Edit users</a>
            <a class="dropdown-item" [routerLink]="['admin/items']">Edit items</a>
            <a class="dropdown-item" [routerLink]="['admin/repairs']">Edit repairs</a>
            <a class="dropdown-item" [routerLink]="['admin/analytics']">Download Analytics</a>
            <a class="dropdown-item" [routerLink]="['/orders']">Orders</a>
          </div>
        </li>
        <button *ngIf="loggedIn | async" (click)="logout()" class="btn btn-outline-secondary">Logout</button>
        <a *ngIf="!(loggedIn | async)" [attr.href]="authUrl" class="btn btn-outline-secondary">Login</a>
      </div>
    </div>
  </div>
</nav>



<div *ngIf="loggedIn | async" class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown">
        New transaction
      </button>
      <div class="dropdown-menu">
        <h6 class="dropdown-header">Choose type</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'inpatient'}">Inpatient</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'outpatient'}">Outpatient</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'merch'}">Merchandise</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/transactions/new/retrospec']">Retrospec</a>
      </div>
      <button [hidden]="!viewingTransactions()" class="btn btn-outline-secondary" type="button"
        [routerLink]="['/orders/whiteboard']">
        White Board
      </button>
      <button [hidden]="viewingTransactions()" class="btn btn-outline-secondary" type="button"
        [routerLink]="['/transactions']">
        Transactions
      </button>
      <button  class="btn btn-outline-info" type="button" (click)="triggerScanModal()">
        <i class="fa fa-barcode"></i>
        Price Check
      </button>
    </div>
    <div class="col-7 text-right">
        <!-- Display count of incomplete bikes, and completed ones waiting on pickup -->
        <h5>
          <span class="badge badge-primary" [ngPlural]="incompleteInpatientCount">
            <ng-template ngPluralCase="=0">No Incomplete Bikes</ng-template>
            <ng-template ngPluralCase="=1">{{incompleteInpatientCount}} Incomplete Bike</ng-template>
            <ng-template ngPluralCase="other">{{incompleteInpatientCount}} Incomplete Bikes</ng-template>
          </span>
          <span class="badge badge-success" [ngPlural]="incompleteWaitingPickupCount">
            <ng-template ngPluralCase="=0">No Bikes Awaiting Pickup</ng-template>
            <ng-template ngPluralCase="=1">{{incompleteWaitingPickupCount}} Bike Awaiting Pickup</ng-template>
            <ng-template ngPluralCase="other">{{incompleteWaitingPickupCount}} Bikes Awaiting Pickup</ng-template>
          </span>
          <span class="badge badge-retrospec" [ngPlural]="waitingSafetyCheckCount">
            <ng-template ngPluralCase="=0">No Bikes Awaiting Safety Check</ng-template>
            <ng-template ngPluralCase="=1">{{waitingSafetyCheckCount}} Bike Awaiting Safety Check</ng-template>
            <ng-template ngPluralCase="other">{{waitingSafetyCheckCount}} Bikes Awaiting Safety Check</ng-template>
          </span>
        </h5>
        <app-user-tracker></app-user-tracker>
    </div>
  </div>
  <!--<button class="btn btn-outline-secondary">New refurb</button>-->
</div>


<!-- Price Check modal-->
<div class="modal fade" id="priceCheckModal" tabindex="-1" role="dialog" aria-labelledby="priceCheckModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="priceCheckTitle">Item Price Check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="priceCheckItem">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <b>Price:</b>
            </div>
            <div class="col-8">
              ${{priceCheckItem.standard_price}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>Name:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>Brand:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.brand}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>Size:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.size}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>Category:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.category}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>Condition:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.condition}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <b>UPC:</b>
            </div>
            <div class="col-8">
              {{priceCheckItem.upc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>