<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/rice-bikes_white.png" width="80" height="80" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-search-transaction *ngIf="loggedIn | async"></app-search-transaction>
      <ul class="navbar-nav mr-auto"></ul>
      <button *ngIf="loggedIn | async" (click)="logout()" class="btn btn-outline-secondary">Logout</button>
    </div>
  </div>
</nav>



<div *ngIf="loggedIn | async" class="container mt-3 mb-3">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    New transaction
  </button>
  <div class="dropdown-menu">
    <h6 class="dropdown-header">Choose type</h6>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'inpatient'}">Inpatient</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'outpatient'}">Outpatient</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/transactions/new']" [queryParams]="{t: 'merch'}">Merchandise</a>
  </div>
  <button class="btn btn-outline-secondary">New refurb</button>
</div>

