<h1>
  Working on Setting up buttons in order requests, few bugs with form sync as
  well.
</h1>
<div class="container">
  <!-- Top row, just has the sync indicator.-->
  <div class="form-row">
    <div class="col">
      <div class="float-right">
        <i *ngIf="formSynced | async" class="fas fa-check-circle"></i>
        <div
          *ngIf="!(formSynced | async)"
          class="spinner-border spinner-border-sm"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Row, to label each column -->
  <div class="form-row">
    <div class="col"><b>#</b></div>
    <div class="col-4"><b>Description</b></div>
    <div class="col"><b>Quantity</b></div>
    <div class="col"><b>Transaction</b></div>
    <div class="col-1"><b>Order</b></div>
    <div class="col-2"><b>Status</b></div>
    <div class="col"><b>Supplier</b></div>
    <div class="col"><b>History</b></div>
  </div>
  <hr />
  <div *ngFor="let obj of orderRequestsWithForms | async">
    <!-- obj is an object, with the keys "form" and "request"
      "form" is the editable form for the orderRequest, and "request"
      is the actual request object.-->
    <form [formGroup]="obj.form">
      <div class="form-row my-2">
        <div class="col">
          <b class="form-control-plaintext">{{ obj.request._id }}</b>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" formControlName="request" />
        </div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <div class="col">
          <!-- ngClass block gives visual feedback for bad transaction numbers -->
          <input
            type="text"
            [ngClass]="{
              'form-control is-valid':
                obj.form.controls['transaction'].errors == null &&
                obj.form.controls['transaction'].dirty,
              'form-control is-invalid':
                obj.form.controls['transaction'].errors != null,
              'form-control': true
            }"
            class="form-control"
            formControlName="transaction"
          />
        </div>
        <div class="col-1">
          <button class="btn btn-primary btn-block">View</button>
        </div>
        <div class="col-2" *ngIf="isAdmin | async">
          <select class="form-control" formControlName="status">
            <option>Not Ordered</option>
            <option>In Cart</option>
            <option>Ordered</option>
            <option>Completed</option>
            <option>Confirming</option>
            <option>Out of Stock</option>
          </select>
        </div>
        <div class="col-2" *ngIf="!(isAdmin | async)">
          <input
            type="text"
            readonly
            class="form-control"
            formControlName="status"
          />
        </div>
        <div class="col">
          <input type="text" class="form-control" formControlName="supplier" />
        </div>
        <div class="col">
          <button class="btn btn-primary">Actions</button>
        </div>
      </div>
    </form>
  </div>
</div>
