<div class="container form-container" style="margin-top: 15px">
  <form [formGroup]="transactionForm">
    <div class="form-group row">
      <label for="customer_search" class="col-2 col-form-label">email</label>
      <div class="col-10">
        <input id="customer_search" class="form-control form-control-lg" type="text" [ngbTypeahead]="customer_search"
               [inputFormatter]="formatter" [resultFormatter]="result_formatter"
               (selectItem)="customer_selected($event)"/>
      </div>
    </div>

  <div class="form-group row">
    <label for="first_name" class="col-2 col-form-label">first name</label>
    <div class="col-10">
      <input class="form-control form-control-lg" type="text" formControlName="first_name" id="first_name">
    </div>
  </div>
  <div class="form-group row">
    <label for="last_name" class="col-2 col-form-label">last name</label>
    <div class="col-10">
      <input class="form-control form-control-lg" type="text" formControlName="last_name" id="last_name">
    </div>
  </div>
    <ng-template #employeenamepopup>
     <app-employee-popup></app-employee-popup>
    </ng-template>
    <button type="button" class="btn btn-block btn-lg btn-success" [ngbPopover]="employeenamepopup" popoverTitle="Enter your name" [disabled]="!transactionForm.valid">
      Submit
    </button>
  </form>
</div>
