<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemSearchModal">
  <i class="fas fa-plus"></i>
  Add Item
</button>

<!-- Modal -->
<div class="modal fade" id="itemSearchModal" tabindex="-1" role="dialog" aria-labelledby="itemSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemSearchModalTitle">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- Form column-->
              <form [formGroup]="itemForm">
                <!-- first row of form elements-->
                <div class="form-row">
                  <div class="form-group col-3">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Item Name" formControlName="name">
                  </div>
                  <div class="form-group col-3">
                    <label for="categorySelect">Category</label>
                    <select class="form-control" id="categorySelect" formControlName="category">
                      <option *ngFor="let category of categories | async">{{category}}</option>
                    </select>
                  </div>
                  <div class="form-group col-3">
                    <label for="brandSelect">Brand</label>
                    <select class="form-control" id="brandSelect" formControlName="brand">
                      <option *ngFor="let brand of brands | async">{{brand}}</option>
                    </select>
                  </div>
                  <div class="form-group col-3">
                    <label for="conditionSelect">Condition</label>
                    <select class="form-control" id="conditionSelect" formControlName="condition">
                      <option>New</option>
                      <option>Used</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- Result list-->
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" *ngFor="let item of itemResults | async">{{item.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
