/* Use flexbox to get full parent width button groups*/
.btn-group.custom-block {
  display: flex;
}

/* Use flexbox to get full parent width button groups*/
.custom-block .btn {
  flex: 1
}

label {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0;
}

.key-value {
  display: flex;  
}

.key {
  margin-right: 10;
}

.currencyinput {
  border: 1px inset #ccc;
}

.currencyinput input {
  border: 0;
}