<div class="modal-header">
  <h5 class="modal-title">Create New Item</h5>
  <button
    (click)="closeItemModal()"
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="create-item-body" class="modal-body item-details-form">
  <div>
    <form class="needs-validation" [formGroup]="newItemForm" autocomplete="off">
      <div class="row">
        <div class="col col-6">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name"
            required
          />
          <div class="invalid-feedback">required field</div>
        </div>
        <div class="col col-6">
          <div>
            <label for="brand">Brand*</label>
            <input
              type="text"
              class="form-control"
              formControlName="brand"
              id="brand"
              style="text-transform: uppercase"
              required
            />
            <div class="invalid-feedback">required field</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-6">
          <label for="retailPrice">Retail Price*</label>
          <input
            id="retailPrice"
            type="number"
            step="any"
            class="form-control"
            placeholder="$"
            formControlName="standard_price"
            required
          />
          <div class="invalid-feedback">required field</div>
        </div>
        <div class="col col-6">
          <label for="wholesalePrice">Wholesale Price*</label>
          <input
            id="wholesalePrice"
            type="number"
            step="any"
            class="form-control"
            placeholder="$"
            formControlName="wholesale_cost"
            required
          />
          <div class="invalid-feedback">required field</div>
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
          <label for="in_stock">In Stock</label>
          <input
            type="number"
            class="form-control"
            formControlName="in_stock"
            id="in_stock"
          />
        </div>
        <div class="col col-9">
          <label for="upc">UPC #*</label>
          <div class="input-group mb-3">
            <input
            type="text"
            id="newUPC"
            class="form-control"
            formControlName="upc"
            value="upc"
            pattern="[0-9]+"
            minlength="6"
            maxlength="20"
            required
          />
            <div class="input-group-append">
              <button (click)="generateUPC()" class="btn btn-outline-secondary generate" type="button">Generate</button>
            </div>
          </div>
          <div class="invalid-feedback">required field (12 digits)</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="category_1">Category 1*</label>
          <select
            required
            class="form-control"
            id="category1Select"
            formControlName="category_1"
            (change)="onCat1Change($event)"
          >
            <option value="">Any</option>
            <option *ngFor="let category of categories | async">
              {{ category }}
            </option>
          </select>
          <div class="invalid-feedback">required field</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="category_2">Category 2</label>
          <select
            class="form-control"
            id="category2Select"
            formControlName="category_2"
            (change)="onCat2Change($event)"
          >
            <option value="">Any</option>
            <option *ngFor="let category of categories2 | async">
              {{ category }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="category_3">Category 3</label>
          <select
            class="form-control"
            id="category3Select"
            formControlName="category_3"
          >
            <option value="">Any</option>
            <option *ngFor="let category of categories3 | async">
              {{ category }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="specifications">Specifications</label><br />
          <div *ngFor="let entry of specifications.controls; let i = index">
            <div class="key-value" [formGroup]="entry">
              <input required class="form-control" formControlName="key" placeholder="e.g., Length" />
              <input required class="form-control" formControlName="value" placeholder="e.g., 35 mm" />
              <i
                color="blue"
                type="button"
                (click)="removeSpec(i)"
                class="bi bi-dash-circle text-primary"
              ></i>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="addSpec()"
          >
            add
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="features">Features</label><br />
          <div *ngFor="let entry of features.controls; let i = index">
            <div class="key-value" [formGroup]="entry">
              <input required class="form-control" formControlName="value" placeholder="e.g., All purpose inner tube, an excellent choice for replacements" />
              <i
                color="blue"
                type="button"
                (click)="removeFeature(i)"
                class="bi bi-dash-circle text-primary"
              ></i>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="addFeature()"
          >
            add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">
    Close
  </button>
  <button type="submit" class="btn btn-primary" (click)="validate()" data-dismiss="modal">
    Create item
  </button>
</div>
