<div class="wrapper">
  <div class="body">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="jumbotron jumbotron-fluid" style="margin-top: 60px; margin-bottom: 0px;">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <a class="text-muted">Built by Cade Ritter</a>
          </div>
          <div class="col-3">
            <a href="https://github.com/ricebikes/rice-bikes-angular" class="text-muted">Source code</a>
          </div>
          <div class="col-3">
            <a href="https://goo.gl/forms/52LitMjQR8TCgrQe2" class="text-muted">Feedback</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



