<div class="container my-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form [formGroup]="loginForm">
        <div class="input-group input-group-lg">
          <input type="text" [ngClass]="{'is_invalid': error}" class="form-control" formControlName="username" placeholder="Username">
        </div>
        <br>
        <div class="input-group input-group-lg">
          <input type="password" [ngClass]="{'is_invalid': error}" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <br>
        <button [disabled]="!loginForm.valid" (click)="login()" class="btn btn-outline-primary btn-block btn-lg">Login</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
