<!-- Show current user, and an option to change them if user is set -->
<span *ngIf="currentUser">
  <h6>
    <span class="mr-2">
      Current User: {{currentUser.username}}
    </span>
      <!-- button to allow changing logged in user -->
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#enterNamePrompt">Change User</button>
    </h6>
</span>
<button #modalButton hidden="true" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#enterNamePrompt">FAKE BUTTON</button>
<!-- Modal that prompts the user for their username-->
<div class="modal fade" #requestNetIDModal id="enterNamePrompt" tabindex="-1" role="dialog" aria-labelledby="Enter your Name"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="enterNameTitle">Enter NetID to Continue</h5>
         </div>
         <div class="modal-body">
           <input class="form-control" type="text" formControlName="username"
                  #userSearch id="userSearch" (keyup)="search(userSearch.value)">
           <!-- search results displayed here -->
           <div *ngIf="userResults" class="list-group search-dropdown">
             <a class="list-group-item list-group-item-action"
                *ngFor="let user of userResults | async"
                (click)="setUser(user)">
               {{user.username}}
             </a>
           </div>
         </div>
         <!--
         <div class="modal-footer">
           <button type="button" class="btn btn-primary">Go</button>
         </div>
         -->
       </div>
     </div>
</div>
