<!-- Show current user, and an option to change them if user is set -->
<h6 *ngIf="(userState | async).timeout < 0 && currentUser">
  <span class="mr-2">
    Current User: {{currentUser.username}}
  </span>
<!-- button to allow changing logged in user -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#enterNamePrompt">Change User</button>
</h6>
<!-- timeout, triggers if there are less than 10 seconds before the user is cleared-->
<h6 class="mr-2" *ngIf="(userState | async).timeout > 0 && currentUser">
  <!-- timeout was set to 10 seconds in app.module.ts-->
  <span class="mr-2"> {{timeout - (userState | async).timeout}} Seconds Until Logout</span>
  <button type="button" class="btn btn-outline-warning" (click)="stopTimer()">Stop Timeout</button>
</h6>
<button #modalButton hidden="true" type="button" class="btn btn-outline-primary" data-toggle="modal" data-dismiss="modal" data-target="#enterNamePrompt">FAKE BUTTON</button>
<!-- Modal that prompts the user for their username-->
<div class="modal fade" #requestNetIDModal id="enterNamePrompt" tabindex="-1" role="dialog" aria-labelledby="Enter your Name"
     data-backdrop="static" data-keyboard="false" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="enterNameTitle">Enter NetID to Continue</h5>
         </div>
         <div class="modal-body">
           <form [formGroup]="userNameForm">
             <input (keyup.enter)="attemptSetUser()" formControlName="userName" class="form-control"
                    placeholder="Your NetID" type="text" id="user_name_input">
           </form>
           <!-- search results displayed here -->
           <div *ngIf="userResults" class="list-group search-dropdown">
             <a class="list-group-item list-group-item-action"
                *ngFor="let user of userResults | async"
                (click)="setUser(user)">
               {{user.username}}
             </a>
           </div>
         </div>
         <!--
         <div class="modal-footer">
           <button type="button" class="btn btn-primary">Go</button>
         </div>
         -->
       </div>
     </div>
</div>
