<div class="container item-list">
  <form #itemForm="ngForm">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Item Name</span>
      </div>
      <input type="text" class="form-control" placeholder="" id="name" [(ngModel)]="item_entry.name" name="name" required>
      <button type="button" class="btn btn-primary" (click)="addItem(); itemForm.reset()" [disabled]="itemForm.invalid">Add Item</button>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Price</span>
      </div>
      <input type="number" class="form-control" placeholder="0.00" id="price" [(ngModel)]="item_entry.price" name="price" required>
      <div class="input-group-prepend">
        <span class="input-group-text">Shop Cost</span>
      </div>
      <input type="number" class="form-control" placeholder="0.00" id="cost" [(ngModel)]="item_entry.shop_cost" name="cost" required>
      <div class="input-group-prepend">
        <span class="input-group-text">Low Stock Level</span>
      </div>
      <input type="number" class="form-control" placeholder="0" id="stock_warn" [(ngModel)]="item_entry.warning_quantity" name="stock_warn" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea class="form-control" [(ngModel)]="item_entry.description" name="description" id="description"></textarea>
    </div>
  </form>
  <ul class="list-group">
        <li *ngFor="let item of items; let in=index" class="list-group-item">
          <form #inlineForm="ngForm">
            <!--
            <div style="float: left">
              {{item.name}}
            </div>
            <div class="inline-forms">
            <span>
              Price:<input style="margin-left:20px" size="1" name="inlineprice-{{in}}" [(ngModel)]="item.price">
              Shop Cost:<input style="margin-left:20px" size="1" name="inlinecost-{{in}}" [(ngModel)]="item.shop_cost">
            </span>
            <br/>
            <span>
              Low Stock Level:<input style="margin-left:10px; margin-right: 10px" size="1" name="inlineWarnLevel-{{in}}" [(ngModel)]="item.warning_quantity">
              Stock:<input style="margin-left:20px" size="1" name="inlinestock-{{in}}" [(ngModel)]="item.quantity">
            </span>
            </div>
          <button class="btn btn-default" style="margin-left:15px" [disabled]="!inlineForm.dirty" (click)="updateItem(item)">Update</button>
          -->

            <label>{{item.name}}</label>
            <button class="btn btn-default" style="margin-left:15px;float: right" [disabled]="!inlineForm.dirty" (click)="updateItem(item)">Update</button>
            <div class="input-group">
              Stock:<input size="1" style="margin-right: 10px;margin-left: 10px" name="inlineStock-{{in}}" [(ngModel)]="item.quantity">
              Price: <input size="1" style="margin-right: 10px;margin-left: 10px" name="inlineprice-{{in}}" [(ngModel)]="item.price">
              Shop Cost:<input size="1" style="margin-right: 10px;margin-left: 10px" name="inlinecost-{{in}}" [(ngModel)]="item.shop_cost">
              Low Stock Threshold:<input size="1" style="margin-right: 10px;margin-left: 10px" name="inlineWarnStock-{{in}}" [(ngModel)]="item.warning_quantity">
            </div>
          </form>
        </li>
    </ul>
</div>
