<button
  #formTrigger
  hidden
  type="button"
  class="btn btn-outline-primary"
  data-toggle="modal"
  data-target="#itemDetailsModal"
>
  FAKE BUTTON
</button>

<div class="container" id="item-search">
  <div style="display: flex; justify-content: space-between">
    <h5>Item Search</h5>
    <button class="btn btn-primary" (click)="triggerCreateItem()">Create Item</button>
    
  </div>
  <app-item-search-modal
    (results)="setItems($event)"
    (checked)="toggleCheck($event)"
  ></app-item-search-modal>
</div>
<div
  class="modal fade"
  id="itemDetailsModal"
  #itemDetailsModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="itemDetailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="scroll">
        <app-item-details-form
          #itemModal
          id="itemModal"
          [mode]=itemModalMode
          [item]="chosenItem"
          (newItem)="addItem($event)"
          (editItem)="refreshItem($event)"
          (closeAll)="closeAndResetAll($event)"
        ></app-item-details-form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category 1</th>
        <th scope="col">Category 2</th>
        <th scope="col">Category 3</th>
        <th scope="col">Brand</th>
        <th scope="col">Sale Price</th>
        <th scope="col">Wholesale Cost</th>
        <th *ngIf="showInStock" scope="col">In Stock</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        [hidden]="showInStock"
        *ngFor="let item of items; let i = index"
        (click)="editItem(item, i)"
      >
        <td>{{ item.name }}</td>
        <td>{{ item.category_1 }}</td>
        <td>{{ item.category_2 }}</td>
        <td>{{ item.category_3 }}</td>
        <td>{{ item.brand }}</td>
        <td>${{ item.standard_price }}</td>
        <td>${{ item.wholesale_cost }}</td>
      </tr>
      <tr
        [hidden]="!showInStock"
        *ngFor="let item of inStockItems; let i = index"
        (click)="editItem(item, i)"
      >
        <td>{{ item.name }}</td>
        <td>{{ item.category_1 }}</td>
        <td>{{ item.category_2 }}</td>
        <td>{{ item.category_3 }}</td>
        <td>{{ item.brand }}</td>
        <td>${{ item.standard_price }}</td>
        <td>${{ item.wholesale_cost }}</td>
        <td>{{ item.in_stock }}</td>
      </tr>
    </tbody>
  </table>
</div>
