<div class="container" *ngIf="platformSupported">
  <div class="jumbotron">
    <h3 class="display-4">Export Transactions</h3>
    <p class="lead">Download a range of transactions as a csv file. Includes the date of creation, completion,
    and the total cost of the transaction</p>
    <form [formGroup]="dateFormTransaction">
      <div class="form-group">
        <label for="transactionStartDate">Start Date</label>
        <input type="date" class="form-control" id="transactionStartDate" formControlName="startDate"
               placeholder="YYYY-MM-DD">
        <p class="text-danger" *ngIf="!transactionDatesValid">Start date cannot be after end date</p>
        <label for="transactionEndDate">End Date</label>
        <input type="date" class="form-control" id="transactionEndDate" formControlName="endDate"
               placeholder="YYYY-MM-DD">
      </div>
      <button type="submit" [disabled]="!dateFormTransaction.valid" class="btn btn-primary"
              (click)="transactionFormSubmit()">
        <span *ngIf="!transactionProcessing"><i class="fas fa-download"></i> Download</span>
        <span *ngIf="transactionProcessing">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Processing...
        </span>
      </button>
    </form>
  </div>
</div>
