<div class="modal fade" id="bikeAddModal" tabindex="-1" role="dialog" aria-labelledby="bikeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bikeModalLabel">Add bike</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="bikeForm">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="Make..." class="form-control" formControlName="bike-make" id="bike-make">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Model..." class="form-control" formControlName="bike-model" id="bike-model">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Description..." class="form-control" formControlName="bike-desc" id="bike-desc">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addBike()" [disabled]="!bikeForm.valid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="margin-top: 15px;">
  <div class="container">
    <h3 class="display-5">
      <strong>{{transaction?._id}}:</strong> {{transaction?.customer?.first_name}} {{transaction?.customer?.last_name}}
      <span class="badge" [ngClass]="{'badge-success': transaction?.transaction_type == 'inpatient',
  'badge-primary': transaction?.transaction_type == 'outpatient',
  'badge-secondary': transaction?.transaction_type == 'merch'
}">{{transaction?.transaction_type}}</span>
    </h3>
    <p class="lead">{{transaction?.date_created | date:'medium'}}
      <button (click)="deleteTransaction()" class="btn btn-outline-danger float-right">Delete</button>
    </p>
    <button class="btn btn-secondary btn-sm">Edit description</button>
    <p class="lead">{{transaction?.description}}</p>
    <hr class="my-4">
    <p class="lead">Bikes</p>
    <div class="row">
      <div *ngFor="let bike of transaction.bikes" class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{bike.make}} {{bike.model}}
              <button (click)="deleteBike(bike)" type="button" class="close float-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
            <p class="card-text">{{bike.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#bikeAddModal">
          +
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="min-height: 300px">
  <div class="row">
    <div class="col-md-4">
      <app-add-repair [transaction]="transaction"></app-add-repair>
      <div class="list-group" style="margin-top: 15px;">
        <a *ngFor="let repair of transaction?.repairs" class="list-group-item">
          <strong>${{repair.price}}</strong> {{repair.name}}
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <app-add-item [transaction]="transaction"></app-add-item>
      <div class="list-group" style="margin-top: 15px;">
        <a *ngFor="let item of transaction?.items" class="list-group-item">
          <strong>${{item.price}}</strong> {{item.name}}
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="height: 250px">
        <div class="card-body">
          <h4 class="card-title">
            Subtotal
          </h4>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success">Checkout!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 15px">
    <button class="btn btn-lg btn-block btn-outline-secondary">Complete</button>
</div>
