<div class="container">
  <ul class="nav nav-tabs nav-fill justify-content-center" style="margin-top: 15px;">
    <li class="nav-item">
      <a (click)="setTab('active', { 
          complete: false, 
          refurb: false, 
          employee: false,
          $or: [
            {transaction_type : {$ne: 'retrospec'} },
            {status: 'building'}
          ]
        })" [ngClass]="{'active': currentTab === 'active'}"
        class="nav-link">Active</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('pickup', { complete: true , is_paid: false, refurb: false})"
        [ngClass]="{'active': currentTab === 'pickup'}" class="nav-link">Waiting on pickup</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('retrospec', { transaction_type: 'retrospec', complete: false})"
        [ngClass]="{'active': currentTab === 'retrospec'}" class="nav-link">Retrospec</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setTab('part', { waiting_part: true })"
        [ngClass]="{'active': currentTab === 'part'}">
        <i class="fa fa-wrench"></i> Waiting on part
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setTab('email', { waiting_email: true, complete: false })"
        [ngClass]="{'active': currentTab === 'email'}">
        <i class="fa fa-envelope"></i> Waiting on email
      </a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('refurb',{complete:false, refurb: true})" [ngClass]="{'active': currentTab === 'refurb'}"
        class="nav-link">Refurbs</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('beerbike',{complete:false, beerbike: true})" [ngClass]="{'active': currentTab === 'beerbike'}"
        class="nav-link">Beer Bikes</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('employee',{employee:true, complete: false, refurb: false, beerbike: false})" [ngClass]="{'active': currentTab === 'employee'}"
        class="nav-link">Employee</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('paid', { is_paid: true })" [ngClass]="{'active': currentTab === 'paid'}"
        class="nav-link">Paid</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('all', {})" [ngClass]="{'active': currentTab === 'all'}" class="nav-link">All</a>
    </li>
    <li class="nav-item">
      <a (click)="setTab('search', null)" [ngClass]="{'active': currentTab === 'search'}" class="nav-link"><i
          class="fas fa-search"></i></a>
    </li>
  </ul>
</div>

<div class="container" style="padding-top: 15px">
  <div *ngIf="currentTab=='search'">
    <app-search-transaction (foundTransactions)="setTransactions($event)"></app-search-transaction>
  </div>
  <div *ngIf="loading && currentTab!='search'" class="d-flex justify-content-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" *ngIf="currentTab == 'retrospec'">
      <div class="form-check filter-group">
        <input class="form-check-input" type="checkbox" [checked]="isGroupChecked(customerFilters)" id="customerGroupCheck" (change)="toggleFilterGroup(customerFilters)">
        <label class="form-check-label" for="customerGroupCheck"><h5>Status</h5></label>
      </div>
        <div class="form-check filter" *ngFor="let customer of objectKeys(customerFilters)">
          <input class="form-check-input" type="checkbox" [checked]="customerFilters[customer]" [id]="'customerCheck'+customer" (change)="toggleFilter(customerFilters, customer)">
          <label class="form-check-label" [for]="'customerCheck'+customer">{{customer}}</label>
        </div>
      <div class="form-check filter-group">
        <input class="form-check-input" type="checkbox" [checked]="isGroupChecked(statusFilters)" id="statusGroupCheck" (change)="toggleFilterGroup(statusFilters)">
        <label class="form-check-label" for="statusGroupCheck"><h5>Status</h5></label>
      </div>
        <div class="form-check filter" *ngFor="let status of objectKeys(statusFilters)">
          <input class="form-check-input" type="checkbox" [checked]="statusFilters[status]" [id]="'statusCheck'+status" (change)="toggleFilter(statusFilters, status)">
          <label class="form-check-label" [for]="'statusCheck'+status">{{status}}</label>
        </div>
      <div class="form-check filter-group">
        <input class="form-check-input" type="checkbox" [checked]="isGroupChecked(modelFilters)" id="modelGroupCheck" (change)="toggleFilterGroup(modelFilters)">
        <label class="form-check-label" for="modelGroupCheck"><h5>Models</h5></label>
      </div>
        <div class="form-check filter" *ngFor="let model of objectKeys(modelFilters)">
          <input class="form-check-input" type="checkbox" [checked]="modelFilters[model]" [id]="'modelCheck'+model" (change)="toggleFilter(modelFilters, model)">
          <label class="form-check-label" [for]="'modelCheck'+model">{{model}}</label>
        </div>
      <div class="form-check filter-group">
        <input class="form-check-input" type="checkbox" [checked]="isGroupChecked(sizeFilters)" id="sizeGroupCheck" (change)="toggleFilterGroup(sizeFilters)">
        <label class="form-check-label" for="sizeGroupCheck"><h5>Size</h5></label>
      </div>
        <div class="form-check filter" *ngFor="let size of objectKeys(sizeFilters)">
          <input class="form-check-input" type="checkbox" [checked]="sizeFilters[size]"  [id]="'sizeCheck'+size" (change)="toggleFilter(sizeFilters, size)">
          <label class="form-check-label" [for]="'sizeCheck'+size">{{size}}</label>
        </div>
      <div class="form-check filter-group">
        <input class="form-check-input" type="checkbox" [checked]="isGroupChecked(colorFilters)" id="colorGroupCheck" (change)="toggleFilterGroup(colorFilters)">
        <label class="form-check-label" for="colorGroupCheck"><h5>Colors</h5></label>
      </div>
        <div class="form-check filter" *ngFor="let color of objectKeys(colorFilters)">
          <input class="form-check-input" type="checkbox" [checked]="colorFilters[color]" [id]="'colorCheck'+color" (change)="toggleFilter(colorFilters, color)">
          <label class="form-check-label" [for]="'colorCheck'+color">{{color}}</label>
        </div>
    </div>
    <div class="col">
      <table *ngIf="!loading" class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Bikes</th>
            <th *ngIf="currentTab === 'pickup'">Completed</th>
            <th *ngIf="!['pickup', 'retrospec'].includes(currentTab)">Submitted</th>
            <th *ngIf="currentTab === 'retrospec'">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of filteredTransactions" class="transaction-tr"
            [routerLink]="['/transactions', transaction._id]"
            [ngClass]="{'table-warning': getTimeDifference(transaction) >= 3 && getTimeDifference(transaction) < 6, 'table-danger': getTimeDifference(transaction) >= 6}">
            <th scope="row">{{transaction._id}}
              <span class="badge" [ngClass]="{'badge-success': transaction?.transaction_type == 'inpatient',
                                            'badge-primary':   transaction?.transaction_type == 'outpatient',
                                            'badge-secondary': transaction?.transaction_type == 'merch',
                                            'badge-retrospec':   transaction?.transaction_type == 'retrospec'}">
                {{transaction?.transaction_type}}</span>
              <span *ngIf="transaction?.orderRequests?.length > 0" class="badge badge-danger"><i
                  class="fa fa-wrench"></i></span>
              <span *ngIf="transaction?.waiting_email" class="badge badge-danger"><i class="fa fa-envelope"></i> </span>
              <span *ngIf="transaction?.urgent" class="badge badge-danger"><i class="fas fa-exclamation"></i></span>
              <span *ngIf="transaction?.nuclear" class="badge badge-danger"><i class="fas fa-radiation"></i></span>
    
            </th>
            <td *ngIf="!(currentTab === 'retrospec' && !transaction.reserved)">{{transaction.customer.first_name}} {{transaction.customer.last_name}}</td>
            <td *ngIf="(currentTab === 'retrospec' && !transaction.reserved)"> - </td>
            <td>{{getBikeList(transaction)}}</td>
            <!--removed "| timeAgo" in following two lines-->
            <td *ngIf="currentTab === 'pickup'">{{transaction.date_completed | date: 'medium'}}</td>
            <td *ngIf="!['pickup', 'retrospec'].includes(currentTab)">{{transaction.date_created | date: 'medium'}}</td>
            <td *ngIf="currentTab === 'retrospec'"><span class="fa" [ngClass]="{
              'fa-cart-arrow-down': transaction.status == 'ordered',
              'fa-truck': transaction.status == 'arrived',
              'fa-wrench': transaction.status == 'building',
              'fa-check': transaction.status == 'built',
              'fa-tags': transaction.status == 'for sale'
            }"></span>  {{transaction.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
