<div class="container" style="margin-top: 15px;">

  <app-search-transaction></app-search-transaction>

  <div class="list-group" style="margin-top: 15px;">
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="!loading">
      <a *ngFor="let transaction of transactions"
         [routerLink]="['/transactions', transaction._id]"
         class="list-group-item list-group-item-action"
         [ngClass]="{
                      'list-group-item-warning': getTimeDifference(transaction) > 3 && getTimeDifference(transaction) < 6,
                      'list-group-item-danger': getTimeDifference(transaction) >= 6
                    }">
        <div class="row">
          <div class="col-sm-3">
            {{transaction._id}}
          </div>
          <div class="col-sm-3">
            {{transaction?.customer?.first_name}}
          </div>
          <div class="col-sm-3">
            {{transaction?.customer?.last_name}}
          </div>
          <div class="col-sm-3">
            {{transaction?.bikes}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
