<!-- Modal -->
<div class="modal fade" #finishModal id="finishModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTransactionModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to finish the transaction? This cannot be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button (click)="finish()" class="btn btn-success">Finish</button>
      </div>
    </div>
  </div>
</div>



<div class="container mb-4">
  <div class="card mb-2" style="width: 75%; margin: 0 auto;">
    <div #price class="card-body text-center">
      <h1 *ngIf="!isEdit" (click)="isEdit = true" style="font-size: 100px">${{ transaction.total_cost }}</h1>
      <input *ngIf="isEdit"  (keydown.escape)="isEdit = false" (keydown.enter)="isEdit = false" [(ngModel)]="transaction.total_cost" class="form-control form-control-lg" type=number style="font-size: 100px;width: 200px; height: 300px">
      <!-- <form id="paymentMethod" [formGroup]="userForm">
        <label for="card">Pay by: </label> <input type="radio" id="card" value="card"> Card
        <input type="radio" id="cash" value="cash"> <label for="cash">Cash </label>
      </form>-->
<!--      <select id = "select" class="form-control" #t style="width: 50%" (change)="onSelectPayment(t.value)">-->
<!--        <option selected value="">Paid by...</option>-->
<!--        <option value="cash">Cash</option>-->
<!--        <option value="card">Card</option>-->
<!--      </select>-->
      <div class="pretty p-default p-curve">
        <input type="checkbox" id="card" #t (change)="onSelectPayment(t.id, t.checked)"/><div class="state"><label>Card</label></div>
      </div>
      <div class="pretty p-default p-curve">
       <input type="checkbox" id="cash" #u (change)="onSelectPayment(u.id, u.checked)"/><div class="state"><label>Cash</label></div>
      </div>
      <div class="pretty p-default p-curve">
        <input type="checkbox" id="check" #v (change)="onSelectPayment(v.id, v.checked)"/><div class="state"><label>Check</label></div>
      </div>
    </div>
  </div>

  <div class="row" style="width: 75%; margin: 0 auto;">
    <div class="col-6 pl-0">
      <div class="card mb-2">
        <div class="card-header">
          <h4>Repairs</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li *ngFor="let repair of transaction.repairs" class="list-group-item">
              {{repair.repair.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6 pr-0">
      <div class="card mb-2">
        <div class="card-header">
          <h4>Items</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li *ngFor="let item of transaction.items" class="list-group-item">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2" style="width: 75%; margin: 0 auto;">
    <div class="card-body">
      <!--Jquery: once selected, trigger this button to be enabled. then, int he finish function, accept card value & store to mongo -->
      <button [disabled]="transaction.paymentType.length == 0" data-toggle="modal" data-target="#finishModal" class="btn btn-success btn-lg btn-block">Finish</button>
    </div>
  </div>
</div>
