<!-- Include app-add-item here to avoid conflict with jumbotron classes-->
<app-add-item #addItemComponent [employee]="true" (chosenItem)="setItem($event)"></app-add-item>
<div class="container" *ngIf="(order | async) as currentOrder">
  <div class="jumbotron">
    <h2 class="display-5" *ngIf="loading">...</h2>
    <div class="row" *ngIf="!loading">
      <div class="col-8">
        <h2 class="display-5">Order from {{currentOrder.supplier}}</h2>
        <p class="lead">Created on {{currentOrder.date_created | date: 'MMM d, y, h:mm:ss a'}}</p>
        <p class="lead" *ngIf="currentOrder?.date_submitted"> currentOrdered on {{currentOrder?.date_submitted | date: 'MMM d, y, h:mm:ss a'}}</p>
      </div>
      <div class="col-4">
        <button class="btn btn-md float-right" type="button" id="statusDropdownButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          [ngClass]="{'badge-primary': currentOrder.status == 'In Cart',
                      'badge-success': currentOrder.status == 'Ordered',
                      'badge-secondary': currentOrder.status == 'Completed'}">
          {{currentOrder.status}}
        </button>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Set Status</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="setStatus('Completed')">Completed</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="setStatus('Ordered')">Ordered</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="setStatus('In Cart')">In Cart</a>
        </div>
      </div>
    </div>
  </div>
  <h4 class="display-5">Add Item</h4>
  <form [formGroup]="stagedOrderForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button *ngIf="!(stagedOrderItem | async)" class="btn btn-outline-secondary" type="button"
                (click)="triggerItemSearch()">Select Item</button>
        <div *ngIf="(stagedOrderItem | async) as item" class="input-group-text">{{item.name}}</div>
      </div>
      <input class="form-control" type="text" formControlName="transaction"
             placeholder="Transaction ID">
      <input class="form-control" type="number" placeholder="Quantity" formControlName="quantity">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit"
                [disabled]="!(stagedOrderForm.valid && (stagedOrderItem | async) != null)"
                (click)="submitStagedItem()"><i class="fas fa-check"></i></button>
      </div>
    </div>
  </form>
  <table class="table table-striped" *ngIf="currentOrder">
    <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Our Cost</th>
      <th scope="col">Sale Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Transaction</th>
      <th scope="col">Quantity</th>
      <th scope="colgroup">Actions</th>
    </tr>
    </thead>
    <!-- Items in currentOrder-->
    <tbody>
      <tr *ngFor="let item of currentOrder.items">
        <th scope="row">{{item.item.name}}</th>
        <td>{{item.item.wholesale_cost}}</td>
        <td>{{item.item.standard_price}}</td>
        <td>{{item.item.stock}}</td>
        <td *ngIf="item.transaction">{{item.transaction}}</td>
        <td *ngIf="!item.transaction">None</td>
        <td>{{item.quantity}}</td>
        <td><button class="btn btn-primary btn-sm"><i class="fas fa-check"></i></button></td>
        <td><button class="btn btn-primary btn-sm"><i class="fas fa-minus-circle"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
